* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Press Start 2P', cursive;
    list-style: none;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.15em;
}

.underline {
    text-decoration: underline;
}

.Battle-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 8px;
    padding-bottom: 0;
}

.Enemy-window {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 282px;
    height: 162px;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 13px;
}

.enemy-information {
    margin-top: 16px;
    margin-left: 20px;
    font-size: 6px;
    text-align: center;
}

.enemy-information h1 {
    margin-bottom: 11px;
}

.enemy-information img {
    margin-bottom: 12px;
}

.enemy-stats {
    text-align: right;
}

.enemy-information img {
    width: 89px;
}

.enemy-detail {
    margin-top: 19px;
    text-align: center;
    margin-left: 7px;
    font-size: 2px;
    line-height: 1.6;
}

.Battle-dialogue {
    text-align: center;
    width: 292px;
    height: 48px;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    font-size: 3px;
    padding: 10px 10px;
    margin-bottom: 14px;
}

.Player-window {
    box-sizing: content-box;
    display: flex;
    width: 283px;
    height: 170px;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.player-information {
    margin-top: 14px;
    margin-left: 18px;
    text-align: center;
    font-size: 6px;
}

.player-information h1 {
    margin-bottom: 17px;
}

.player-information img {
    width: 107px;
    height: 109px;
    transform: scaleX(-1);

}

.player-detail {
    margin-top: 11px;
    text-align: center;
    margin-left: 12px;
    font-size: 3px;

}

.Buttons {
    display: inline-block;
    width: 254px;
    display: flex;
    margin: 0 19px;
}

.Buttons button {
    padding: 8px 22px;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

button:focus {
    outline: none;
    cursor: pointer;
    box-shadow: none
}

.Buttons .left {
    margin-right: 54px;
}

.attack {
    margin-bottom: 15px;
    background-color: #FC030399;
}

.defend {
    margin-bottom: 15px;
    background-color: #032CFC99;
}

.heal {
    display: inline-block;
    width: 113px;
    background-color: #04C91B99;
}

.escape {
    background-color: #E8E80599;
}

.text-stroke {
    text-shadow: -1px 0 #000,
        0 1px #000,
        1px 0 #000,
        0 -1px #000;
}